# Azure Storage Credentials
# Replace with your actual Azure Blob Storage Connection String
AZURE_STORAGE_CONNECTION_STRING=""

# The container name. Default is "uploads"
AZURE_CONTAINER_NAME="uploads"

# Flask server port (default is 8080)
PORT=8080
